*{
    font-family: 'Poppins', sans-serif;
}
/* ===Honda colors start*/
.honda-color-1{
    background: #264653;
}
.honda-color-2{
    background: #E76F51;
}
.honda-btn{
    transition: 0.2s;
}
.honda-btn:hover{
background: #c95c41;
transform: translateX(5px);
}
.honda-btn:focus{
background: #b3533c;
}
.honda-gray{
    color: #E0E0E0;
}
.honda-outline{
    border-radius: 1000px;
    border: 2px solid #E76F51;
    color: #E76F51;
    background: transparent;
}
.honda-outline:hover{
    border-radius: 1000px;
    border: 2px solid #E76F51;
    color: #ffffff;
    background: #E76F51;
}
/* ===Honda colors end*/
/* ===font waights start */
.honda-f-bold{
    font-weight:600;
}
.honda-f-md{
    font-weight:500;
}
.honda-f-light{
    font-weight:300;
}

/* ===font waights end */
.honda-star{
    color: #E77C40 !important;
}

/* font size */
.honda-16px{
    font-size: 16px;
}
.honda-36px{
    font-size: 36px;
}
.honda-64px{
    font-size: 64px;
}
/* grayscale */
.gray-img{
    filter: grayscale(100%);
}
/* section gap */
section{
    margin-top: 64px;
}
/* client's pic */
.honda-client-pic{
    width: 150px;
}
/* border */
.honda-border{
    border-color: #DEDEDE;
}
/* line height */
.honda-line-h-1{
    line-height: 54px;
}
.honda-line-h-2{
    line-height: 26px;
}
/* extra */
.accordion-item {
    border: 2px solid #f5f5f5;
    border-radius: 6px;

}
.accordion-item:not(:first-of-type) {
    border: 2px solid #f5f5f5;
    border-radius: 6px;
}