*{
    font-family: 'Poppins', sans-serif;
}
/* ===Honda colors start*/
.honda-color-1{
    background: #264653;
}
.honda-color-2{
    background: #E76F51;
}
.honda-gray{
    color: #E0E0E0;
}
/* ===Honda colors end*/
/* ===font waights start */
.honda-f-bold{
    font-weight:600;
}
.honda-f-md{
    font-weight:500;
}
.honda-f-light{
    font-weight:300;
}

/* ===font waights end */
.honda-star{
    color: #E77C40;
}
.honda-16px{
    font-size: 16px;
}
.honda-36px{
    font-size: 36px;
}